# python
*.egg-info
*.pyc
*__pycache__
*_version.py
.mypy_cache

# pytask
.pytask
.pytask*.sqlite3

# bld
bld*

# latex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.vscode

# slidev
*.local
.DS_Store
.remote-assets
.slides_pdf
components.d.ts
dist
index.html
node_modules
package-lock.json

# nonsense
*.bak
*.tmp
desktop.ini

# jupyter-book
site_*

# jupyter
.ipynb_checkpoints/

# videos
*.mp4

# data
gapminder.arrow

# pixi environments
.pixi
