/* Set colors for light theme - very light green */


[data-theme='light'] .bd-sidebar-primary {
    background-color: #EDF8EC !important;
}

[data-theme='light'] body {
   background-color: #EDF8EC !important;
}


[data-theme='light'] .bd-header-article {
   background-color: #EDF8EC !important;
}


/* Set colors for dark theme - very dark green */


[data-theme='dark'] .bd-sidebar-primary {
    background-color: #383E37 !important;
}

[data-theme='dark'] body {
   background-color: #383E37 !important;
}


[data-theme='dark'] .bd-header-article {
   background-color: #383E37 !important;
}
