/* Überschriften */
h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans';
  line-height: 2 !important;
}
h1 {
  font-size: 2.7rem !important;
  font-weight: 600 !important;
}
h2 {
  font-size: 2.7rem !important;
  font-weight: 600 !important;
}
h3 {
  font-size: 2.025rem !important;
  font-weight: 600 !important;
}
h4 {
  font-size: 2.025rem !important;
  font-weight: 400 !important;
}
h5 {
  font-size: 1.35rem !important;
  font-weight: 600 !important;
}
/* Textabsätze und Listeneinträge */
p, li {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 1.35rem !important;
  line-height: 1.25 !important;
}
li {
  margin-bottom: .35rem !important;
}
code {
  font-size: 1.0rem !important;
}

td {
  padding: 0.2rem !important;
}
